# Data Cleaning and Preparation

#### Question 1: Import appropriate package and load the dataset
Using pandas load the *black_sea_water.csv*

In [12]:
#Your code goes here

#### Question 2: Complete the 'handle_missing_values' function to handle missing values in the dataset. 

Iterate each column of the dataframe **df_filled**. Using **fillna()** fill the ***NaN*** values in each column by replacing it with the average (mean) value if it's a numeric column or with the string "NA" if it's a text column.

*Hint* : You can use numpy to detect if the column's data type is a number with the following condition:
-  **if np.issubdtype(df_filled[column].dtype, np.number)**

In [2]:
# Function to handle missing values for both text and numeric columns

#Your code goes here

In [15]:
#Call the function and handle missing values for df and print the first rows

#Your code goes here

#### Question 3: Complete the 'handle_outliers' function to handle outliers in the dataset
Same as Question 2, iterate each column of the dataframe, detect if the column's data type is a number, if it is then identify outliers using the interquartile range (IQR) method teached in class.

In [14]:
# Function to handle outliers for numeric columns

#Your code goes here

In [16]:
#Call the function and handle outliers values for df and print the first rows

#Your code goes here

#### Question 4: Complete the 'handle_duplicates' function to remove duplicates in the dataset
Drop duplicates from the **df** dataframe and save it in the **df_deduplicated** variable. Print the shape of the original dataset and the shape of the Deduplicated dataset to compare.

In [17]:
# Function to handle duplicates

#Your code goes here

In [18]:
#Call the function and handle duplicates in df

#Your code goes here

#### Question 5: Complete the 'standardize_data' function to standardizes the 'Species' column in the dataset
Using the following dataset, standarize the *Species* column.

In [8]:
data = {
    'Species': [' blue whale ', 'great White shark', 'dolphin', 'BLUE whale', 'doLPHin'],
    'Count': [5, 2, 13, 4, 11]
}
df_ocean_species = pd.DataFrame(data)

In [19]:
# Function to address inconsistency and standardize data

#Your code goes here

In [20]:
# Standardize the species names
#Your code goes here

# Display the original and the standardized DataFrame
#Your code goes here